@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
header{
    background-image: url(Veste_homme.jpg);
    padding: 260px;
    font-size: 35px;
    color: white;
}